.navContainer {
  background-color: var(--background-secondary);
}

.mainNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0rem;
}

.applyBtn {
  composes: button from "../../styles/typo-web.module.css";
  color: var(--text-onSecondary);
  border: 1px solid var(--border-primary);
  border-radius: 2px;
  padding: 12px 22px;
}