.container {
  max-width: 360px;
  margin: 0px auto;
}

.sectionTitle {
  composes: display-small from "../../styles/typo-web.module.css";
  margin-bottom: 2rem;
}

.chargesAmount {
  composes: display-large from "../../styles/typo-web.module.css";
}

.chargesType {
  margin-bottom: 2rem;
}

.chargeStrike {
  color: var(--text-subdued);
  text-decoration: line-through;
  font-weight: 400;
}

.offerContainer {
  background-color: var(--background-subdued);
  display: flex;
  padding: 1rem 0.75rem;
  margin-top: 1.5rem;
}

.offerDetails {
  margin-left: 1rem;
}

.offerCaption {
  composes: caption from "../../styles/typo-web.module.css";
  color: var(--text-subdued);
  text-transform: uppercase;
  margin-bottom: 0.25rem;
}

.offerDescription {
  composes: body-small from "../../styles/typo-web.module.css";
}

/* Media queries */

@media only screen and (min-width: 640px) {

  .container {
    border: 1px solid var(--border-neutral);
    padding: 1.5rem;
  }

}