.sectionTitle {
  composes: display-small from "../../styles/typo-web.module.css";
}

.featureContainer {
  margin-top: 40px;
  padding: 1.5rem 0rem;
  max-width: 400px;
}

.featureLabel {
  composes: body-small from "../../styles/typo-web.module.css";
  display: inline-block;
  padding: 0.5rem 0.75rem;
  background-color: var(--background-subdued);
  margin-bottom: 0.75rem;
  text-transform: uppercase;
}

.featureNumber {
  composes: display-x-large from "../../styles/typo-web.module.css";
  color: #3A4348;
}

.featureDetails {
  composes: heading from "../../styles/typo-web.module.css";
  margin-bottom: 1rem;
}


/* Media queries */

@media only screen and (min-width: 640px) {

  .sectionTitle {
    text-align: center;
  }

  .featureContainer {
    margin: 80px auto;
    background-color: var(--background-neutral);
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 880px;
  }

  .featureContainer:nth-last-of-type(2) {
    flex-direction: row-reverse;
  }

  .featureInfo {
    width: 50%;
    padding: 0rem 2rem;
  }

  .featureDetails {
    font-size: 1.5rem;
    font-weight: 600;
  }

  .featureImage {
    width: 50%;
  }
}

@media only screen and (min-width: 1024px) {

  .featureDetails {
    font-size: 2rem;
  }

  .featureInfo {
    padding: 0rem 2rem;
  }

}