.footer {
  composes: body from "../../styles/typo-web.module.css";
  background-color: var(--background-secondary);
  color: var(--text-subdued);
  padding: 3rem 0rem;
}

.companyDetails {
  margin-bottom: 2rem;
  max-width: 320px;
}

.companyAddress {
  margin-bottom: 1.5rem;
}

.companyContact {
  margin-bottom: 0.5rem;
}

.footerLink {
  display: block;
  margin-top: 2rem;
}

.copyright {
  composes: body-small from "../../styles/typo-web.module.css";
  margin-top: 2rem;
}

.actions {
  display: none;
}

.actionTitle {
  composes: display-small from "../../styles/typo-web.module.css";
  color: var(--text-neutral);
  text-align: right;
  margin-bottom: 2rem;
}


/* Media queries */

@media only screen and (min-width: 1024px) {

  .primarySection {
    display: flex;
    justify-content: space-between;
  }

  .actions {
    display: block;
  }

  .footerNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 2px solid var(--border--secondary-subdued);
    padding: 2rem 0rem;
  }

  .footerLinks {
    display: flex;
  }
  
  .copyright {
    text-align: center;
  }

  .footerLink {
    margin-top: 0rem;
    margin-left: 1rem;
  }

}