.sectionTitle {
  composes: display-small from "../../styles/typo-web.module.css";
  color: var(--text-neutral);
  margin-bottom: 40px;
}

.stepCard {
  margin-bottom: 40px;
  max-width: 312px;
}

.stepNumber {
  composes: display-x-large from "../../styles/typo-web.module.css";
  color: #3A4348;
}

.stepDetails {
  composes: heading from "../../styles/typo-web.module.css";
  color: var(--text-neutral);
}

.stepImage {
  position: relative;
  width: 312px;
  height: 220px;
}



/* Media queries */

@media only screen and (min-width: 640px) {

  .sectionTitle {
    text-align: center;
  }

  .stepCard {
    margin: 40px auto;
  }
  
}

@media only screen and (min-width: 1024px) {

  .sectionTitle {
    margin-bottom: 4rem;
  }

  .stepContainer {
    display: flex;
    justify-content: space-between;
  }

}