.sectionTitle {
  composes: display-small from "../../styles/typo-web.module.css";
  color: var(--text-neutral);
  margin-bottom: 40px;
}

.stepCard {
  margin-bottom: 40px;
}

.stepNumber {
  composes: display-x-large from "../../styles/typo-web.module.css";
  color: #3A4348;
}

.stepDetails {
  composes: heading from "../../styles/typo-web.module.css";
  color: var(--text-neutral);
}



/* Media queries */

@media only screen and (min-width: 1024px) {

  .sectionTitle {
    text-align: center;
    margin-bottom: 4rem;
  }

  .stepCard {
    max-width: 312px;
  }

  .stepContainer {
    display: flex;
    justify-content: space-between;
  }

}