.container {
  background-color: var(--background-secondary);
  padding: 3rem 1rem;
  text-align: center;
}

.sectionTitle {
  composes: display-small from "../../styles/typo-web.module.css";
  color: var(--text-neutral);
  margin-bottom: 1rem;
}

.sectionDescription {
  composes: body from "../../styles/typo-web.module.css";
  color: var(--text-subdued);
  margin-bottom: 3.5rem;
}

.offerContainer {
  background-color: var(--background-secondary-subdued);
  display: flex;
  padding: 1rem 0.5rem;
  margin: 0rem auto;
  margin-top: 1.5rem;
  text-align: left;
  max-width: 320px;
}

.offerDetails {
  margin-left: 1rem;
}

.offerCaption {
  composes: caption from "../../styles/typo-web.module.css";
  color: var(--text-subdued);
  text-transform: uppercase;
  margin-bottom: 0.25rem;
}

.offerDescription {
  composes: body-small from "../../styles/typo-web.module.css";
  color: var(--text-neutral)
}


/* Media queries */

@media only screen and (min-width: 640px) {

  .container {
    margin: 0 auto;
  }

}


@media only screen and (min-width: 1024px) {

  .container {
    max-width: 880px;
  }

  .offerContainer {
    padding: 1rem;
  }

}


