.sectionTitle {
  composes: display-small from "../../styles/typo-web.module.css";
  color: var(--text-neutral);
}

.highlightCard {
  position: relative;
  margin-top: 48px;
  max-width: 420px;
}

.highlightDetails {
  padding: 1.5rem 1rem;
}

.hashtags {
  margin-bottom: 1.5rem;
}

.hashtag {
  composes: body-small from "../../styles/typo-web.module.css";
  padding: 0.5rem 0.75rem;
  background-color: var(--background-secondary);
  margin-right: 0.5rem;
  color: var(--text-neutral);
  border-radius: 2px;
  display: inline-block;
}

.highlightDescription {
  composes: heading from "../../styles/typo-web.module.css";
  display: inline-block;
  margin-bottom: 0.5em;
}

.highlightImage {
  position: relative;
  width: 100%;
  height: 240px;
}

/* Media queries */

@media only screen and (min-width: 640px) {

  .sectionTitle {
    text-align: center;
  }

  .highlightCard {
    margin: 48px auto;
  }

}

@media only screen and (min-width: 1024px) {

  .highlightCard {
    display: flex;
    align-items: center;
    max-width: 680px;
    height: 420px;
  }

  .highlightCard:nth-of-type(2n + 1) {
    flex-direction: row-reverse;
  }

  .highlightDetails {
    width: 50%;
    padding: 2rem;
  }

  .highlightImage {
    position: relative;
    width: 50%;
    height: 100%;
  }
  
}