:root {
  --background-neutral: #ffffff;
  --background-subdued: #f1f5f8;

  --background-primary: #5CC993;
  --background-secondary: #0B151B;
  
  --text-onPrimary: #0B151B;
  --text-onSecondary: #5CC993;

  --border-primary: #5CC993;
  --border-neutral: #DBE1E6;

  --text-neutral: #ffffff;
  --text-subdued: #9AA6B1;
}