.mainSection {
  background-color: var(--background-secondary);
  padding-top: 3rem;
}

.mainTitle {
  composes: display-large from "./typo-web.module.css";
  color: var(--text-neutral);
  margin-bottom: 1rem;
}

.mainDescription {
  composes: body from "./typo-web.module.css";
  color: var(--text-subdued);
  margin-bottom: 2rem;
}

.mainImage {
  position: relative;
  width: 100%;
  height: 360px;
  margin-top: 64px;
}

.aboutSection {
  padding: 6rem 0rem;
}

.partnerSection,
.howItWorksSection,
.HighlightsSection {
  background-color: var(--background-secondary);
  padding: 3rem 0rem;
}

.featureSection,
.joinCheq {
  padding: 3rem 0rem;
}
